# Ignore the credentials to connect to online spreadsheet
credentials.json
# Ignore the local backup of drawn points
Results_backup0/
Results_backup1/
movement_integrals.json
# ignore pycache
__pycache__/
*.pyc